body {
    background-color: #e5e5e5;  
    margin: 0;
    text-align: center;
   }


.image{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 200px;
    width: 200px;
}
.image2{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.image3{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
#text {
    box-sizing: border-box;
    border-radius: 1rem;
    font-size: 18px;
    width:25%;
    padding: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: left;
    background-color: rgb(211, 211, 211);
    position: relative;
    left: 60%;
    bottom: 190px;
   }
.bottom-text {
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: left;
    padding-bottom: 20px;
    color: #6b6b6b;
    background-color: rgb(211, 211, 211);

}

.bottom-text2 {
    box-sizing: border-box;

    width: 50%;
    border-radius: 1rem;
    text-align: center;
    padding: 10px;
    background-color: rgb(104, 209, 90);
}


